body{
    text-align:center;
  }
  
  #para1{
    font-size:80px;
    word-spacing:10px;
    font-variant:small caps;
  }
  #album{
    width:450px;
  }
  #reasonstext{
    font-size:50px;
  }
  
    